.header {
  display: flex;
  width: 90vw;
  justify-content: space-between;
  align-items: baseline;
}

.header__logo {
  max-width: 317px;
  height: 29px;

  text-transform: uppercase;
  font-family: "Jomhuria";
  font-style: normal;
  font-weight: 400;
  font-size: 80px;
  line-height: 80px;

  color: #2e3341;
}

.header__buy {
  width: 106px;
  height: 106px;

  position: relative;
  bottom: 20px;

  text-transform: uppercase;
  font-family: "Oswald";
  font-weight: 700;
  font-size: 34px;
  line-height: 50px;

  color: #ffffff;

  border-radius: 50%;
  background: #f54329;

  cursor: pointer;

  transform: rotate(19.5deg);
}
