:root {
  background-color: #e1e3e9;

  --swiper-navigation-size: 30px;
}

body {
  margin: 0;

  padding: 0;

  display: flex;
  place-items: center;
  
  min-width: 250px;
  min-height: 100vh;
  box-sizing: border-box;

  overflow-x: hidden;
}
